# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.so
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.dll
*.out
*.app

# Keep steam libs
!*.lib
!*.so
!*.dynlib

# MS SQL Bullshit
*.sdf
*.opensdf

build/

